.summary-panel {
  padding: 20px;
}

.summary-card {
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 20px;
  border-left: solid #ccc thin;
}

.sectionHeader {
   font-size: 18px;
   font-weight: bold;
   margin-bottom:10px;
}

.tileTitle {
   font-size:16px; 
   font-weight:bold; 
}